@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img src="/images/carouselImages/image2.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/images1.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/image3.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>
                    Get The Best <span class="text-success fst-italic">Food</span> From
                    <span class="text-success">The Best Restaurants </span>
                </h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fastest Delivery</span>
                <p class="py-2">We Promise Deliver Order within 30 Minutes</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="card-img-top h-75 " src="http://forkify-api.herokuapp.com/images/100111309d9.jpg" alt="dish" />
                        <div class="card-body">
                            <h5 class="card-tittle text-dark">Pizza</h5>

                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="/Recipe/Order?id=664c8f193e7aa067e94e8906" class="btn btn-sm bg-black text-white shadow rounded p-2">Order</a>
                                <span class="addToCartIcon" " onclick="cart.call(this)" data-recipeId="664c8f193e7aa067e94e8906">
                                    <i class="fa-regular fa-heart fs-3"></i>

                                </span>
                            </div>

                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard p-2">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/CapreseGarlicBread12b5a4.jpg" alt="" />
                        <div class="card-body">
                            <h5 class="card-title text-dark">Cake</h5>>
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="/Recipe/Order?id=664c8f193e7aa067e94e893a"
                                   class="btn btn-sm bg-black text-white shadow rounded p-2">Order</a>
                                <span class="addToCartIcon" onclick="cart.call(this)" data-recipeId="664c8f193e7aa067e94e893a">
                                    <i class="fa-regular fa-heart fs-3"></i>

                                </span>
                            </div>

                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/KaleStrawberryAvocadoSalad10ffa.jpg" />
                        <div class="card-body">
                            <h5 class="card-title text-dark">Strawberry</h5>
                           


                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="/Recipe/Order?id=664c8f193e7aa067e94e87d6"
                                   class="btn btn-sm bg-black text-white shadow rounded p-2">Order</a>
                                <span class="addToCartIcon" onclick="cart.call(this)" data-recipeId="664c8f193e7aa067e94e87d6">
                                    <i class="fa-regular fa-heart fs-3"></i>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
